@model Dick.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Страница Администратора</h2>
@using (Html.BeginForm())
{
    <div class="container main">
        <div class="row header">
            <div class="col-md-4"></div>
        </div>
        @*<div class="col-md-4">
            <div class="col-md-12">Имя: @Model.FirstName</div>
            <div class="col-md-12">Фамилия: @Model.LastName</div>
            <div class="col-md-12">Отчество: @Model.MiddleName</div>
            <div class="col-md-12">Номер телефон: @Model.PhoneNumber</div>
            <div class="col-md-12">@Html.DisplayNameFor(model => model.Email): @Model.Email</div>
        </div>
        <div class="col-md-8">*@
            <p>
                <div class="col-md-2">@Html.ActionLink("Ткань", "Cloths", null, new { @class = "btn btn-danger" })</div>
            </p>
            <p>
                <div class="col-md-2">@Html.ActionLink("Модель", "ClothingPatter", null, new { @class = "btn btn-danger" })</div>
            </p>

            <p>
                <div class="col-md-2">@Html.ActionLink("Заказы", "Orders", null, new { @class = "btn btn-danger" })</div>
            </p>
@*</div>

        <div class="col-md-8">*@
            <p>
                <div class="col-md-2">@Html.ActionLink("Портной", "GetAllCutter", null, new { @class = "btn btn-danger" })</div>
            </p>
        </div>

        @*<div class="row footer">
            <div class="col-md-12"></div>
        </div>*@
    @*</div>*@
}
@*@Html.ActionLink("Ткани", "Cloths")
@Html.ActionLink("Портной", "GetAllCutter")
@Html.ActionLink("Модели", "ClothingPatter")*@
